.ingredients {
    font-size: small;
    text-wrap: wrap;
}

.price {
    font-weight: 600;
    font-size: small;
}

.sold-out {
    color: #888;
}

.sold-out img {
    filter: grayscale();
    opacity: 0.8;
}