.skill {
    display: flex;
    width: fit-content;
    padding: 0.3rem 0.5rem;
    gap: 0.5rem;
    align-items: center;
    border-radius: 10%;
}

.skillText {
    font-weight: bold;
    color: white;
}